body{
    background: rgb(74, 75, 72) no-repeat fixed center ;
}


header{
    
    background:  gray;
    
    left:10;
    top:5%;


}



header span{
    font-family: Verdana, Geneva, Arial, sans-serif;
    text-align: left;
    text-decoration-style: double;
    text-emphasis-color: rgb(248, 8, 40);
    font-size: 60px;
    -moz-text-decoration-color: goldenrod;
    margin: 0px;
    text-shadow: 0 1px 0 #ccc,
   
}

nav a{
    
    position: fixed
    font-family: Verdana, Geneva, Arial, sans-serif;
    -webkit-text-fill-color:  #01DF01
    align: right;
    font-size: 20px;
    background: rgba(255,255,255,0.5);

    
}


nav a:hover{
    background-color: yellow;

}

nav a:link{ /*não visityado*/
    color: #b9c941;
    text-decoration: none;
  }

  nav  a:visited{ /* visitado*/
    background: rgb(221, 15, 49);
    color: #458b00;
    
  }

  nav  a:hover{ /*passar o mouse*/
    background: yellow;
    color: blue;
    
  }

  nav  a:active{ /*não visityado*/
    color: #ff1493;
    
  }



.blog{
    font-family:Arial, Verdana, Geneva, sans-serif;
    -webkit-text-fill-color: crimson;
    text-align: left;
    text-decoration-style: double;
    text-emphasis-color: yellow;
    font-size: 110px;
    -moz-text-decoration-color: goldenrod;
    margin: 0px;
    text-shadow: 0 6px 0 #ccc,
   
}





.art1{
width: 40%;
background: -webkit-linear-gradient(rgb(247, 115, 8),rgb(223, 57, 7));
position:  relative center ;
margin-left: 30%;
box-shadow: 10px 10px 5px #8b9731;
display: grid;
border-radius: 20px ;


}


.art2{
    width: 40%;
    background: -webkit-linear-gradient(rgb(37, 166, 170),rgb(223, 57, 7));
    position:  relative center ;
    margin-left: 30%;
    text-align: justify;
    box-shadow: 10px 10px 5px #3cbd67;
    display: grid;
    margin-top: 30px;
    border-radius: 20px ;
    }


.dsq{

    font-family: Arial, sans-serif;
    color: rgb(217, 238, 24);
    text-align: justify;
    display: grid  ;

}

.imgg{
    width: 50%;
    border-radius: 15px ;
    float: left;
    padding: 10px;

  
}
    span{
        font-size: 10px;
    }



 p{
    font-family: Arial, sans-serif;
    color:rgb(172, 206, 78);
}


aside{
    background-color: #01DF01;
    margin: 0px 0px 0px 0px;
       display: inline-block;
       height: 1000px;
       width: 27%;
       right: 0px;
       float: right;

}
