.container{


width: 1800px;
opacity: 0.5;
height: 100%;
align-content: center;

border:  2px   solid green;
box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

}

#container acc{
color: black;
bakground: blue;


}



.conteudo{
	bakground: blue;
	margin: 5px;
	

}
.linha{

	
	margin: 5px;
}
.coluna{



     
margin: 5px;

}


.{

height: 500px;
width: 500px;
display: grid;
border:  2px   solid green;
display: relative;
}


.img-circle{

height: 400px;
width: 400px;
display: grid;
border:  2px   solid green;
display: grid;
margin: 20px  20px  0px  300px;

}



	
	